altgraph==0.17.4
appdirs==1.4.4
asgiref==3.8.1
attrs==23.2.0
autocommand==2.2.2
Babel==2.14.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.9.0
breezy==3.3.9
Brotli==1.1.0
cached-property==1.5.2
certifi==2024.6.2
chardet==5.2.0
click==8.1.7
colorama==0.4.6
configobj==5.0.8
contourpy==1.3.1
cryptography==43.0.0
cycler==0.12.1
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
Django==4.2.15
django-wkhtmltopdf==3.4.0
dnspython==2.6.1
docopt==0.6.2
docutils==0.21.2
dulwich==0.22.7
fastbencode==0.2
Flask==3.1.0
Flask-Principal==0.4.0
fonttools==4.55.3
fpdf==1.7.2
fpdf2==2.7.9
freetype-py==2.4.0
freezegun==1.5.1
fs==2.4.16
gevent==24.11.1
greenlet==3.1.0
gyp-next==0.16.2
httplib2==0.22.0
idna==3.6
importlib_metadata==8.2.0
inflect==7.3.1
isodate==0.6.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.0
jaraco.functools==4.0.2
jeepney==0.8.0
Jinja2==3.1.3
keyring==25.3.0
kiwisolver==1.4.7
libsass==0.23.0
lxml==5.3.1
lxml_html_clean==0.2.2
lz4==4.4.0+dfsg
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
mdurl==0.1.2
merge3==0.0.8
mock==5.1.0
more-itertools==10.3.0
mpmath==1.3.0
netifaces==0.11.0
num2words==0.5.13
numpy==1.26.4
oauthlib==3.2.2
odoo==15.0+e.20240910
ofxparse==0.21
packaging==24.1
passlib==1.7.4
patiencediff==0.2.13
pdfkit==1.0.0
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.2.2
polib==1.2.0
prettytable==3.10.1
psutil==5.9.8
psycopg2==2.9.10
ptyprocess==0.7.0
pycairo==1.26.1
pydot==2.0.0
Pygments==2.18.0
PyGObject==3.50.0
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
PyJWT==2.7.0
pyOpenSSL==24.2.1
pyparsing==3.1.2
PyPDF2==2.12.1
pypng==0.20231004.0
pyserial==3.5
python-dateutil==2.9.0
python-magic==0.4.27
python-stdnum==1.20
pytz==2024.1
pyusb==1.2.1.post2
pyxdg==0.28
PyYAML==6.0.2
qrcode==7.4.2
reportlab==4.2.2
requests==2.32.3
requests-file==2.0.0
requests-toolbelt==1.0.0
rich==13.7.1
rlPyCairo==0.3.0
roman==3.3
scipy==1.14.1
setuptools==74.1.2
six==1.16.0
sos==4.8.0
soupsieve==2.6
sqlparse==0.5.1
sympy==1.13.1
typeguard==4.3.0
typing_extensions==4.12.2
tzlocal==5.2
ufoLib2==0.17.0
unicodedata2==15.1.0
urllib3==2.0.7
vobject==0.9.6.1
wadllib==1.3.6
wcwidth==0.2.13
Werkzeug==3.1.3
wheel==0.45.1
xdg==5
xlrd==2.0.1
XlsxWriter==3.1.9
xlwt==1.3.0
zeep==4.2.1
zipp==3.20.0
zope.event==5.0
zope.interface==7.2
